
:root {
    --main-color: white;
    --secondary-color: rgb(127, 143, 218);
    --main-text-color:black;
    --secondary-text-color: rgb(51, 51, 131);
    --chat-input: #D3D3D3;
}

.chatbox-container {
  display: flex;
  flex-direction: row;

}

.message-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  order: 2;
  align-self: center;
  margin: 5px 0;
  color: var(--main-text-color);
}

.message {
    margin: 15px 0;
}

.username {
    font-size: 19px;
    font-family:  'Roboto Mono', monospace;
    color: var(--secondary-text-color);
    opacity: 0.9;
    margin-bottom: 6px;
}
.text-body {
    font-family: 'Roboto', sans-serif;
    background: var(--main-color);
    color: var(--main-text-color);
    padding: 31px 7px;
    border-radius: 8px;
}

.message-list {
    box-sizing: border-box;
    max-height: -webkit-fill-available;
    padding: 0px 100px 0px 100px;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background: var(--secondary-color);
    list-style-type: none;

    max-height: -webkit-fill-available;

}

.chat-input {
    background: var(--chat-input);
    display: flex;
    box-sizing: border-box;
    height: 60px;
}

.chat-input input {
    width: 100%;
    padding: 15px 10px;
    border: none;
    margin: 0;
    background: var(--chat-input);
}

.chat-input:focus {
    outline-width: 0;
}

.chat-input::placeholder {
    color: black;
}

.channel-search-container {
  flex-direction: column;
  display: flex;
  width: 300px;
  min-height: 100vh;
  background-color: var(--main-color);
}

.channel-item {
  font-size: 19px;
  font-family: 'Roboto Mono', sans-serif;
  list-style-type: none;
  width: 100%;
  padding: 30px 15px;
}



.channel-head {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    color: rgb(123, 159, 201);
    font-weight: bold;
    padding: 100px 61px 0px 35px;
    height: 50px;
    padding-top: 0;
}

.channel-list {

}
