/* @font-face {
  font-family: 'Xolonium';
  src: url('./fonts/severin-meyer_xolonium/Xolonium-Bold.otf');
  src:
    url('./fonts/severin-meyer_xolonium/Xolonium-Bold.otf')format('opentype'),
    url('./fonts/severin-meyer_xolonium/Xolonium-Bold.ttf')format('truetype'),
    url('./fonts/severin-meyer_xolonium/Xolonium-Regular.otf')format('opentype'),
    url('./fonts/severin-meyer_xolonium/Xolonium-Regular.ttf')format('truetype');
  } */

:root {
    --main-color: white;
    --secondary-color: rgb(127, 143, 218);
    --main-text-color:black;
    --secondary-text-color: rgb(51, 51, 131);
    --chat-input: #D3D3D3;
}

.chatbox-container {
  display: flex;
  flex-direction: row;
  
}

.message-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  order: 2;
  align-self: center;
  margin: 5px 0;
  color: var(--main-text-color);
}

.message {
    margin: 15px 0;
}

.username {
    font-size: 11px;
    color: var(--secondary-text-color);
    opacity: 0.9;
    margin-bottom: 6px;
}
.text-body {
    font-family: 'Xolonium';
    background: var(--main-color);
    color: var(--main-text-color);
    padding: 31px 7px;
    border-radius: 8px;
}

.message-list {
    box-sizing: border-box;
    padding: 0px 100px 0px 100px;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background: var(--secondary-color);
    list-style-type: none; 
    position: relative;
}

.chat-input {
    background: var(--chat-input);
    display: flex;
    box-sizing: border-box;
    height: 60px;
}

.chat-input input {
    width: 100%;
    padding: 15px 10px;
    border: none;
    margin: 0;
    background: var(--chat-input);
}

.chat-input:focus {
    outline-width: 0;
}

.chat-input::placeholder {
    color: black;
}

.channel-search-container {
  display: flex;
  width: 300px;
  min-height: 100vh;
  background-color: var(--main-color);
}

.channel-item {
  background-color: green;
}

.channel-head {
  font-family: 'Roboto', sans-serif;
    text-align: left;
    color: rgb(123, 159, 201);
    font-weight: bold;
    padding: 100px 61px 0px 35px;
}