.message-container {
  background-color: black;
  display: flex;
  align-self: center;
  margin: 5px 0;
  color: #D3D3D3;
}

.message {
    margin: 15px 0;
}

.message div:nth-child(1) {
    font-size: 11px;
    color: var(--main-text-color);
    opacity: 0.9;
    margin-bottom: 6px;
}
.message div:nth-child(2) {
    background: var(--main-color);
    color: var(--secondary-color);
    display: inline;
    padding: 4px 8px;
    border-radius: 8px;
}

.message-list {
    box-sizing: border-box;
    padding: 0 0 0 6px;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background: white;
}

.send-message-form {
    background: var(--send-message-form);
    display: flex;
    box-sizing: border-box;
    height: 60px;
}

.send-message-form input {
    width: 100%;
    padding: 15px 10px;
    border: none;
    margin: 0;
    background: var(--send-message-form);
    font-weight: 200;
}

.send-message-form input:focus {
    outline-width: 0;
}

.send-message-form input::placeholder {
    color: black;
}
